<launch>

    <arg name="ns" default="cam1"/>
    <arg name="name" default="saver1"/>
    <arg name="img_topic" default="/camera/color/image_raw"/>
    <arg name="depth_topic" default="/camera/aligned_depth_to_color/image_raw"/>
    <arg name="key_topic" default="/key_input"/>
    <arg name="save_dir" default="$(env HOME)/marker_test/rgb/"/>
    <arg name="depth_save_dir" default="$(env HOME)/marker_test/depth/"/>
        
    <!-- <group ns="$(arg ns)"> -->
        <node name="$(arg name)" pkg="webcam2ros" type="img_saver" output="screen">
            <param name="img_topic" value="$(arg img_topic)"/>
            <param name="depth_topic" value="$(arg depth_topic)"/>
            <param name="key_topic" value="$(arg key_topic)"/>
            <param name="save_dir"  value="$(arg save_dir)"/>
            <param name="depth_save_dir"  value="$(arg depth_save_dir)"/>
        </node>
    <!-- </group> -->
    
</launch>